table {
    font-family:arial;
    font-size:14px;
}

thead {
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    background-color: lightgray;
    height:40px;
}

td {height:40px;}